<h1><%= t('views.user.profile.edit_nickname.heading') %></h1>

<%= form_with model: @profile_user, url: update_user_nickname_path do |form| %>
  <div>
    <%= form.label :nickname %><br>
    <%= form.text_field :nickname, class: 'nes-input' %>
    <% @profile_user.errors.full_messages_for(:nickname).each do |message| %>
        <p class="notice"><%= message %></p>
    <% end %>
  </div>

  <div>
    <%= form.submit class: 'nes-btn' %>
  </div>
<% end %>