<div>
  <% pending_comments.each do |comment| %>
    <div class="nes-container divide-to-columns">
      <div class="content">
        <p><b><%= link_to comment.article.title, article_path(comment.article) %></b></p>
        <p><%= link_to comment.user.nickname, user_profile_path(comment.user) %> <%= t('views.comment.generate_comments_pending_approval.said') %>:</p>
        <p>"<%= comment.body %>"</p>
      </div>

      <div class="controls">
        <div id="comments-pending-approval-controls" class="buttons-column">
            <%= button_to t('shared.cta.approve'), article_approve_comment_path(article_id: comment.article.id, comment: { comment_id: comment.id }), class: 'nes-btn is-success button-size-restricted' %>
            <%= button_to t('shared.cta.reject'), article_reject_comment_path(article_id: comment.article.id, comment: { comment_id: comment.id }), class: 'nes-btn is-error button-size-restricted' %>
        </div>
      </div>
    </div>
  <% end %>
</div>