<%= form_with model: article do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title, class: 'nes-input' %>
    <% article.errors.full_messages_for(:title).each do |message| %>
        <p class="notice"><%= message %></p>
    <% end %>
  </div>

  <div>
    <%= form.label :body %><br>
    <%= form.rich_text_area :body %><br>
    <% article.errors.full_messages_for(:body).each do |message| %>
        <p class="notice"><%= message %></p>
    <% end %>
  </div>

  <div>
    <%= form.check_box :published %> <%= form.label :published %>?<br>
    <% article.errors.full_messages_for(:base).each do |message| %>
        <p class="notice"><%= message %></p>
    <% end %>
  </div>

  <div>
    <%= form.label :tags %>
    <p><%= t('views.article.form.tags_info') %></p>
    <%= form.text_field :tags, value: article.tags.map(&:name).join(','), class: 'nes-input' %>
  </div>

  <div>
    <%= form.submit class: 'nes-btn' %>
  </div>
<% end %>