<article>
  <header>
    <h1><%= @article.title %></h1>
    <p>Written by: <%= @article.user.nickname %></p>
    <p>Last updated at: <%= @article.updated_at %></p>
    <div>
      <%= button_to "+#{@upvote_count}", add_vote_path(vote: {up: true, article: @article, user: current_user}), disabled: !user_signed_in? %>
      <%= button_to "-#{@downvote_count}", add_vote_path(vote: {up: false, article: @article, user: current_user}), disabled: !user_signed_in? %>
    </div>
  </header>

  <main>
    <%= @article.body %>
  </main>

  <footer>
    <% @upvote_count %>

    <% if current_user == @article.user %>
      <%= link_to "Edit", edit_article_path(@article) unless @article.published %>
      <%= link_to "Destroy", article_path(@article), data: {
        turbo_method: :delete,
        turbo_confirm: "Are you sure?"
      } unless @article.published %><br>
    <% end %>

    <%= link_to "See other articles", articles_path %>  

    <br><br>
    <h2>Comments</h2>
    <%= render partial: "comments/form", locals: { article: @article, comment: @article.comments.build } if user_signed_in? %>

    <%= "Be the first to comment!" if @approved_comments.empty? %> <%= link_to "Login to comment.", new_user_session_path unless user_signed_in? %>

    <% @approved_comments.each do |comment| %>
      <div>
        <p><b><%= comment.user.nickname %></b></p>
        <p><%= comment.body %></p>
      </div>
    <% end %>

    <% if user_signed_in? && @comments_of_current_user.any? %>
      <h4>My Comments</h4>
      <div>
        <% @comments_of_current_user.each do |comment| %>
            <div id="my-comment-content-<%= comment.id %>">
              <div><%= comment.status %></div>
              <div id="my-comment-body-<%= comment.id %>"><%= comment.body %></div>

              <div id="my-comment-edit-form-<%= comment.id %>" class="none">
                <%= render partial: "comments/form", locals: { article: @article, comment: comment } %>
              </div>
              
              <div id="my-comment-controls-<%= comment.id %>">
                <%= button_to "Edit", nil, remote: true, data: {
                  controller: 'comments',
                  action: 'comments#toggleForm',
                  comments_form_param: "my-comment-edit-form-#{comment.id}",
                  comments_body_param: "my-comment-body-#{comment.id}",
                } %>
                <%= button_to "Destroy", nil, remote: true %>
              </div>
            </div>
        <% end %>
      </div>
    <% end %>

    <% if user_signed_in? && current_user == @article.user && @pending_comments.any? %>
      <h4>Comments Pending Approval</h4>
      <div>
        <% @pending_comments.each do |comment| %>
          <ul>
            <li><%= comment.user.nickname %></li>
            <li><%= comment.body %></li>
            <li>
              <%= button_to "Approve", article_approve_comment_path(article_id: @article.id, comment: { comment_id: comment.id }) %>
              <%= button_to "Reject", article_reject_comment_path(article_id: @article.id, comment: { comment_id: comment.id }) %>
            </li>
          </ul>
        <% end %>
      </div>
    <% end %>
  </footer>
</article>