<% if notice.present? %>
  <p class="notice"><%= notice %></p>
<% end %>
<article>
  <header>
    <h1><%= @article.title %></h1>
  </header>

  <%= sanitize @article.body %>

  <footer>
    <ul>
      <li><%= link_to "Edit", edit_article_path(@article) %></li>
      <li><%= link_to "Destroy", article_path(@article), data: {
        turbo_method: :delete,
        turbo_confirm: "Are you sure?"
      } %></li><br>
      <li><%= link_to "See other articles", articles_path %></li>
    </ul>
  </footer>
</article>