<article>
  <header>
    <h1><%= @article.title %></h1>
    <p>Written by: <%= @article.user.nickname %></p>
    <p>Last updated at: <%= @article.updated_at %></p>
    <div>
      <%= button_to "+#{@upvote_count}", add_vote_path(vote: {up: true, article: @article, user: current_user}), disabled: !user_signed_in? %>
      <%= button_to "-#{@downvote_count}", add_vote_path(vote: {up: false, article: @article, user: current_user}), disabled: !user_signed_in? %>
    </div>
  </header>

  <main>
    <%= @article.body %>
  </main>

  <footer>
    <% @upvote_count %>

    <% if current_user == @article.user %>
      <%= link_to "Edit", edit_article_path(@article) unless @article.published %>
      <%= link_to "Destroy", article_path(@article), data: {
        turbo_method: :delete,
        turbo_confirm: "Are you sure?"
      } unless @article.published %><br>
    <% end %>

    <%= link_to "See other articles", articles_path %>  

    <br><br>
    <h2>Comments</h2>
    <%= render partial: "comments/form", locals: { article: @article, comment: @article.comments.build } if user_signed_in? %>

    <%= "Be the first to comment!" if @approved_comments.empty? %> <%= link_to "Login to comment.", new_user_session_path unless user_signed_in? %>

    <% if user_signed_in? %>
      <h4>My Comments</h4>
      <div>
        <ul>
          <% @comments_of_current_user.each do |comment| %>
              <li>
                <p><b><%= comment.status.capitalize %></b>: <%= comment.body %></p><br>
              </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </footer>
</article>