<div class="centered-items">
  <h1 class="centered-text"><%= t('views.welcome.index.heading') %></h1>

  <div id="search">
    <%= render partial: 'articles/search' %>
  </div>
  
  <%= link_to t('views.welcome.index.write_article_label'), new_article_path if @published_articles.empty? %>

  <div class="article-cards">
    <%= render partial: 'articles/generate_article_cards', locals: { articles: @published_articles } %>
  </div>

  <%= button_to t('views.welcome.index.write_your_own_article_label'), new_article_path, class: 'nes-btn' if user_signed_in? && @published_articles.any? %>
</div>