<!DOCTYPE html>
<html>
  <head>
    <title><%= t('views.application.head.title') %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "actiontext" %>
    <%= javascript_importmap_tags %>

    <link href="https://unpkg.com/nes.css@latest/css/nes.min.css" rel="stylesheet" />
  </head>

  <body>
    <div class="col-container nes-container">
      <header class="section-border">
          <nav class="nav-container">
            <%= link_to t('views.application.body.nav.home'), root_path, class: 'nav-item' %>
            <%= link_to t('views.application.body.nav.articles'), articles_path, class: 'nav-item' %>
            <%= link_to t('views.application.body.nav.write_article'), new_article_path, class: 'nav-item' %>
            
            <% if user_signed_in? %>
              <%= link_to current_user.nickname, user_profile_path(current_user), class: 'nav-item' %>
              <%= button_to t('views.application.body.nav.logout'), destroy_user_session_path, method: :delete, class: 'nav-item' %>
            <% else %>
              <%= button_to t('views.application.body.nav.sign_in_with_github'), omniauth_authorize_path('user', 'github'), data: { turbo: false }, class: 'nav-item' %>
            <% end %>
          </nav>
      </header>

      <main>
        <% if notice.present? %>
          <p class="notice"><%= notice %></p>
        <% end %>
        
        <% if alert.present? %>
          <p class="alert"><%= alert %></p>
        <% end %>

        <%= yield %>
      </main>

      <footer class="footer-container section-border pad-top">
        <section class="icon-list footer-section">
          <!-- linkedin -->
          <a href="https://linkedin.com/in/gokdenizozkan">
            <i class="nes-icon linkedin is-medium"></i>
          </a>

          <!-- github -->
          <a href="https://github.com/gokdenizozkan">
            <i class="nes-icon github is-medium"></i>
          </a>

          <!-- medium -->
          <a href="https://medium.com/@gokdenizozkan">
            <i class="nes-icon medium is-medium"></i>
          </a>

          <!-- youtube -->
          <a href="https://youtube.com/GökdenizÖzkan">
            <i class="nes-icon youtube is-medium"></i>
          </a>

          <!-- twitter -->
          <a href="https://x.com/gokdenizzkn">
            <i class="nes-icon twitter is-medium"></i>
          </a>
        </section>

        <section class="footer-container">
          <p>
            <%= t('views.application.body.footer.copyright_notice') %>
          </p>
          <p>
            <%= t('views.application.body.footer.project_information') %>
          </p>
        </section>
      </footer>
    </div>
  </body>
</html>
